#root {
  display: flex;
  flex: 1 1 auto;
  gap: 100px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-colour);
}

#resumeForm {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.page-section-title {
  text-align: center;
  color: var(--header-text);
}


.form-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 365px;
  gap: 10px;
}

.form-section .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: left;
  gap: 20px;
}

.form-section header {
  font-size: 18px;
  font-weight: 600;
  color: var(--light-text);
}

.form-row > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-row label {
  font-size: 14px;
  font-weight: 100;
  color: var(--light-text);
}

.form-section input {
  background-color: var(--secondary-surface-clr);
  border: 1px solid #506868;
  border-radius: 3px;
  padding: 3px;
  padding-left: 5px;
  color: var(--primary-surface-clr);
  width: auto;
}

.form-section input:focus {
  border: 1px solid var(--input-dark-focus);
}

.experience-item-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experience-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styling for the preview section */

#livePreview {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.preview-section {
  background-color: var(--preview-bg);
  height: 500px;
  color: var(--dark-text);
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  overflow-y: auto;
  border-radius: 5px;
  padding: 2rem;

  --separation-margin: 8px;
}

#header-preview-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: var(--separation-margin);
  text-align: center;
  gap: 5px;
}

.user-title {
  font-size: 24px;
}

.resume-section-header {
  font-size: 12px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  margin-bottom: var(--separation-margin);
}

.item-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 13px;
  margin-bottom: 5px;
}

.item-header > div {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.item-header > em {
  font-size: 13px;
}

.experience-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: var(--separation-margin);
}

.experience-bullet {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  font-size: 14px;
}

.icon {
  width: 8px;
  height: 8px;
}

textarea {
  min-height: 30px;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #506868;
  background: var(--secondary-surface-clr);
}
