#root {
  display: flex;
  flex: 1 1 auto;
  gap: 50px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-colour);
}

#resumeForm {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}







#livePreview {
  flex: 1 1 auto;
  display: flex;
}
