#root {
  display: flex;
  flex: 1 1 auto;
  gap: 100px;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
