:root {
  font-family: 'Times New Roman', Times, serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-colour: #2C3A3A;
  --preview-bg: #FFFFFF;
  --primary-surface-clr: #F5F7F7;
  --secondary-surface-clr: #3E4E4E;
  --tertiary-surface-clr: #CBD5D5;
  --input-dark-focus: #3BAFBF;
  --dark-text: #1A1A1A;
  --light-text: #E8EEEE;
}

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
}

h1, h2, h3, h4, h5, h6, div, p {
  margin: 0px;
  padding: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
